@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SeoulHangang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
body {
  font-family: "SeoulHangang", sans-serif;
}
